selection-in-list.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

a.selected {
    color: yellow;
}

a {
    text-decoration: none;
    margin-left: 5px;
}

/* full width background of list item */
.selected {
    display: block;
    background-color: black;    
    width: 100%;
}